.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  border-radius: 12px;
  margin: 16px 0 36px;
  padding: 16px 0 0;
}

.mainText {
  font-size: 32px;
  margin: 0 0 24px 0;
  font-weight: 600;
}

.emptyPieContainer {
  display: grid;
  place-items: center;
  width: 240px;
  margin-top: 32px;
}

.emptyPieContainer p {
  text-align: center;
  margin-top: 32px;
}

.emptyPieContainer img {
  width: 180px;
  margin: 24px 0 0;
}

@media (min-width: 1280px){
  .container{
    margin-top: 8px;
  }
}