.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 0;
  width: 320px;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 300px;
}

.inputContainer input {
  width: 136px;
  margin-bottom: 16px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.inputContainer input::placeholder {
  font-size: 20px;
}

.inputContainer input:first-child {
  margin-right: 16px;
}

.datepicker {
  color: rgb(200, 200, 200)
}

.categoryContainer {
  margin-top: 24px;
  width: 320px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.radioContainer p {
  margin-top: 16px;
  color: gray;
}

.radiotoolbar input[type="radio"] {
  display: none;
}

.radiotoolbar label {
  display: inline-block;
  background-color: #fff;
  padding: 8px 16px;
  font-size: .9em;
  border-radius: 24px;
  border:  2px solid black; 
  color: #000039;
  margin: .1rem .2rem;
  cursor: pointer;
}

.radiotoolbar input[type="radio"]:checked+label {
  background-color: #FEB59C ;
}

.breakingLine {
  height: 1px;
  border: 0; border-top: 1px solid #808080;
  margin-top: 16px;
}

.submitButtons {
  width: 100%;
}

.submitButtons button {
  margin-top: .8rem;
  width: 100% !important; 
  cursor: pointer;
}

@media (min-width: 760px){
  .radioContainer p:first-child {
    margin-top: 32px;
  }
}

@media (min-width: 1280px){
  .radioContainer p:first-child {
    margin-top: 16px;
  }

  .submitButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap;
    width: 100%;
  }

  .submitButtons button:last-child{
    width: 100%;
    margin-left: 1rem;
  }
}