.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 2px solid #fff;
}

.aLink:link, .aLink:visited, .aLink:active {
  color:#fff
}

.aLink:hover {
  font-weight: 700;
}

.aLink:link, .aLink:visited {
  text-decoration: none;
}