.superContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.mainText {
  font-size: 32px;
  margin: 0;
  font-weight: 600;
}

/* initial goals */
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

.formContainer input {
  margin: 0 0 16px;
}

.formContainer button {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 100%;
}
/* initial goals end */

/* set goals begin */
.setGoalsContainer {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
}

.eachGoal {
  display: flex;
  flex-direction: column;
  margin: 8px 32px;
}

.eachGoal img {
  width: 80px;
}

.starsContainer {
  position: relative;
}

.starglowLeft {
  position: absolute;
  height: 20px;
  animation: animate 3s linear infinite;
  bottom: 30px;
}
.starglowMid {
  position: absolute;
  height: 20px;
  animation: animate 2s linear infinite;
  bottom: 30px;
  right: 34px;
}
.starglowRight {
  position: absolute;
  height: 20px;
  animation: animate 4s linear infinite;
  bottom: 30px;
  right: 6px;
}

@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
  }

  /* controls how high star travels */
  100%{
      transform: translateY(-60px) ;
      opacity: 0;
  }

}



.amountContainer {
  margin-top: 16px;
}

.amountContainer span{
padding-right: 16px;
}

.pen {
  cursor: pointer;
}

.editContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

.editContainer input{
  width: 72px;
}

.editContainer button {
  margin-top: 16px;
}

.errorMsg {
  margin-top: 16px;
}

@media (min-width: 1280px){
  .setGoalsContainer {
    margin-top: 0 0 24px 0;
  }
  .mainText {
    margin: 0;
  }
}