.container {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainText {
  font-size: 24px;
  margin: 0 0 24px 0;
  font-weight: 600;
}

.ulContainer {
  list-style-type: none;
  margin: 0;
  padding: 8px;
  border-radius: 8px;
  width: 320px;
  max-height: 235px;
  overflow-y: scroll;
}

.ulContainer::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.ulContainer::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(56, 72, 120);
}

.listContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  /* margin-right: 8px; */
}

.leftAlign{
  display: flex;
  flex-direction: row;
}

.nameDate {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}

.amountAndIcon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

}

.categoryImg {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  padding-top: 4px;
}

.itemName {
  font-size: 20px;
}

.itemAmount {
  font-size: 16px;
  padding-right: 8px;
}

.closeIcon {
  width: 20px;
  cursor: pointer;
}

@media (min-width: 760px) {
  .ulContainer {
    max-height: 420px;
  }
}

@media (min-width: 1280px){
  .ulContainer{
    max-height: 360px;
  }
}