@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

body {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family: "Lato", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000039;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  
input {
  background-color: transparent;
  color: #fff;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #fff 1px;
  font-size: 20px;
}

::placeholder {
  color: rgb(200, 200, 200);
  font-size: 1rem;
}

button {
  background-color: #FEB59C;
  color: #000039;
  border: none;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  border-radius: 24px;
  font-weight: 700;
  cursor: pointer;
}